@media (min-resolution: 192dpi),
(min-resolution: 2ddpx) {
    .header-img {
        background-image: url('../assets/img/decor-img/header-picture@2x.jpg');
    }
}

@media (min-width:768px) {
    .list-item-title {
        margin-bottom: 10px;
    }
}

@media (min-width: 453px) {
    .amazing-services-list-item {
        padding-left: 68px;
    }
    
}

@media (max-width: 900px) {
    .header-section {
        flex-direction: column;
        margin: 0 auto;
        padding: 5%;
    }

    .site-logo {
        margin-bottom: 30px;
    }

    .nav-menu {
        width: 100%;
        margin-bottom: 30px;
    }

    .main-title {
        margin-bottom: 110px;
        font-size: 75px;
        line-height: 1;
    }

    .amazing-services-list-item {
        width: 50%;
        padding-right: 10px;
    }

    .footer-section {
        flex-direction: column;
        padding-top: 10px;
    }

    .footer-section-license {
        margin-bottom: 10px;
    }

    .footer-form {
        order: -1;
        margin-bottom: 20px;
    }

    .team-section-list-item {
        margin: 0 5px;
    }
}

@media (max-width: 452px) {
    .main-title {
        margin-bottom: 110px;
        font-size: 50px;
        line-height: 1;
    }

    .amazing-services-list-item {
        text-align: center;
    }

    .amazing-services-list-item::before {
        top: -40px;
        left: 50%;
        transform: translateX(-50%);
    }

    .team-section-list {
        flex-direction: column;
        align-items: center;
    }
}